﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Gears of Peace";src:url("GearsOfPeace.eot?") format("eot"),url("GearsOfPeace.woff") format("woff"),url("GearsOfPeace.ttf") format("truetype"),url("GearsOfPeace.svg#GearsofPeace") format("svg");font-weight:normal;font-style:normal;}
